<%- include partials/header.ejs %> <%- include partials/top_nav.ejs %>

<main class="container">
  <h1><%= title %></h1>
  <img src="service1.webp" height="150px">
  <p>HTML, CSS and  general programming</p>
  <img src="service2.png" height="150px">
  <p>Web development</p>
  <img src="service3.webp" height="150px">
  <p>Customer service-patient experience and project management</p>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
